body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}


/* .streams-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  padding: 20px;
} */

.streams-container {
  display: table;
  content: "";
  clear: both;
  gap: 16px;
  padding: 20px;
}

.stream-card {
  float: left;
  width: 30%;
  margin: 1.5%;
  min-width: 170px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.stream-card:hover {
  transform: scale(1.03);
}

.banner {
  width: 100%;
  height: 250px;
  background: #f0f0f0;
}

.stream-info {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;
}

.pfp {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.banner-img{
  width: 100%;
  height: 100%;
}
